.paragraph1 {
    font-weight: bold ;
}

.paragraph2 {
    font-size: 24px;
}

.paragraph3 {
    line-height: 50px;
}

p {
    font-family: 'Rubik', sans-serif;
    letter-spacing: normal;
}

h4 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Pacifico', cursive;

}
